<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jdkj.wx.mapper.CompanyMapper">
	
	<insert id="add">
		INSERT INTO company VALUES(NULL, #{name});
	</insert>
	
	
	
	<!--  	
	使用XML定义新增时可以使用到全局的useGeneratedKeys
	<insert id="addCompany" keyProperty="id">
		INSERT INTO company VALUES(NULL, #{name})
	</insert>
	-->	
	
</mapper>